<div fxLayout="column wrap">
  
 

  
  <div class="myMatCarousel1">
    <mat-carousel timings="250ms ease-in" [autoplay]="false" [maintainAspectRatio]="false" [slides]="2" color="accent"
      [loop]="true" [hideArrows]="false" [hideIndicators]="true" [useKeyboard]="true" [useMouseWheel]="true" 
      orientation="ltr"  >
      <mat-carousel-slide #matCarouselSlide overlayColor="#00000020">
        <div class="myMatCarouselSlide1" fxLayout="row wrap" fxLayoutAlign="center center">
          <ng-container *ngFor="let _ of [1] ; let i = index">
            <mat-divider></mat-divider>
                <mat-card  >
                  
                  
                  <p class="s20" style="padding-top: 10pt; padding-left: 20pt;text-indent: 0pt;text-align: left;">You Pay</p>
                  <p class="s21" style="padding-left: 20pt;text-indent: 0pt;text-align: left;">AED 125 <span class="s20">/month</span></p>
            
                  <p class="s22" style="padding-top: 2pt;padding-left: 19pt;text-indent: 0pt;text-align: left;">For 12 months + 5% VAT</p>
                  <mat-divider></mat-divider>
                  <p class="s24" style="padding-top: 6pt;padding-left: 20pt;text-indent: 0pt;text-align: left;">You Get</p>
                  <h4 style="padding-left: 20pt;text-indent: 0pt;text-align: left;">Power Plan 125</h4>
                  
                  <mat-divider></mat-divider>
                  <p style="text-indent: 0pt;text-align: left;"><br></p>
                  <p class="s25" style="padding-top: 7pt;padding-left: 20pt;text-indent: 0pt;text-align: left;">4 GB <span class="p"> National data</span></p>
                  <p class="s25" style="padding-top: 4pt;padding-left: 20pt;text-indent: 0pt;text-align: left;">100 <span class="p">Flexi minutes</span></p>
                  <mat-divider></mat-divider>
                  
                  <p style="padding-top: 6pt;padding-left: 10pt;text-indent: 0pt;line-height: 210%;text-align: left;"><span class="material-icons">
                    done
                    </span>No activation fee. Save AED 125<br> <span class="material-icons">
                      done
                      </span> 4 GB free data on WiFi UAE<br> </p>
            
                      <p class="s27" style="padding-top: 7pt;padding-left: 56pt;text-indent: 0pt;text-align: left;">What<span class="p"> y</span>ou <span class="p">g</span>et</p>
                     <div> <button mat-raised-button class="neon-button" style="padding-top: 6pt;padding-left: 47pt;text-indent: 0pt;text-align: left;">Select</button></div>
                </mat-card>        
                <mat-divider></mat-divider>
                
                <mat-divider></mat-divider>
                
                <mat-card>
                  <div data-v-1a0c1886="" data-v-d1b79a3a="" class="mt-6"></div> 
                  <span data-v-1a0c1886="" class="ms-2 font-weight-bold v-chip v-chip--label theme--light v-size--small navy white--text"><span class="v-chip__content">Most Popular</span></span>
                  <p class="s20" style="padding-top: 10pt; padding-left: 20pt;text-indent: 0pt;text-align: left;">You Pay</p>
                  <p class="s21" style="padding-left: 20pt;text-indent: 0pt;text-align: left;">AED 200 <span class="s20">/month</span></p>
            
                  <p class="s22" style="padding-top: 2pt;padding-left: 19pt;text-indent: 0pt;text-align: left;">For 12 months + 5% VAT</p>
                  <mat-divider></mat-divider>
                  <p class="s24" style="padding-top: 6pt;padding-left: 20pt;text-indent: 0pt;text-align: left;">You Get</p>
                  <h4 style="padding-left: 20pt;text-indent: 0pt;text-align: left;">Power Plan 200</h4>
                  
                  <mat-divider></mat-divider>
                  <p style="text-indent: 0pt;text-align: left;"><br></p>
                  <p class="s26" style="padding-top: 7pt;padding-left: 20pt;text-indent: 0pt;text-align: left;">13 <span class="s25">26 GB </span><span class="p">Double national data</span></p>
                  <p class="s25" style="padding-top: 4pt;padding-left: 20pt;text-indent: 0pt;text-align: left;">400 <span class="p">Flexi minutes</span></p>
                  <mat-divider></mat-divider>
                  
                  <p style="padding-top: 6pt;padding-left: 10pt;text-indent: 0pt;line-height: 210%;text-align: left;"><span class="material-icons">
                    done
                    </span>No activation fee. Save AED 125<br> <span class="material-icons">
                      done
                      </span> 15 GB free data on WiFi UAE<br>  <span class="material-icons">
                        done
                        </span> Carry over data to next month<br> </p>
            
                      <p class="s27" style="padding-top: 7pt;padding-left: 56pt;text-indent: 0pt;text-align: left;">What<span class="p"> y</span>ou <span class="p">g</span>et</p>
                      <div> <button mat-raised-button class="neon-button" style="padding-top: 6pt;padding-left: 47pt;text-indent: 0pt;text-align: left;">Select</button></div>
                </mat-card>
                <mat-divider></mat-divider>
                <mat-divider></mat-divider>
                <mat-card>
                  <p class="s20" style="padding-top: 10pt; padding-left: 20pt;text-indent: 0pt;text-align: left;">You Pay</p>
                  <p class="s21" style="padding-left: 20pt;text-indent: 0pt;text-align: left;">AED 300 <span class="s20">/month</span></p>
            
                  <p class="s22" style="padding-top: 2pt;padding-left: 19pt;text-indent: 0pt;text-align: left;">For 12 months + 5% VAT</p>
                  <mat-divider></mat-divider>
                  <p class="s24" style="padding-top: 6pt;padding-left: 20pt;text-indent: 0pt;text-align: left;">You Get</p>
                  <h4 style="padding-left: 20pt;text-indent: 0pt;text-align: left;">Power Plan 300</h4>
                  
                  <mat-divider></mat-divider>
                  <p style="text-indent: 0pt;text-align: left;"><br></p>
                  <p class="s26" style="padding-top: 7pt;padding-left: 20pt;text-indent: 0pt;text-align: left;">25 <span class="s25">50 GB </span><span class="p">Double national data</span></p>
                  <p class="s25" style="padding-top: 4pt;padding-left: 20pt;text-indent: 0pt;text-align: left;">1020 <span class="p">Flexi minutes</span></p>
                  <mat-divider></mat-divider>
                  
                  <p style="padding-top: 6pt;padding-left: 10pt;text-indent: 0pt;line-height: 210%;text-align: left;"><span class="material-icons">
                    done
                    </span>No activation fee. Save AED 125<br> <span class="material-icons">
                      done
                      </span> 15 GB free data on WiFi UAE<br>  <span class="material-icons">
                        done
                        </span> Carry over data to next month<br> <span class="material-icons">
                          done
                          </span> Amazon Prime on us <br><span class="material-icons">
                            done
                            </span> Free Internet Calling pack</p>
            
                      <p class="s27" style="padding-top: 7pt;padding-left: 56pt;text-indent: 0pt;text-align: left;">What<span class="p"> y</span>ou <span class="p">g</span>et</p>
                      <div> <button mat-raised-button class="neon-button" style="padding-top: 6pt;padding-left: 47pt;text-indent: 0pt;text-align: left;">Select</button></div>
                </mat-card>
                <mat-divider></mat-divider>

                <mat-divider></mat-divider>
                <mat-card>
                  <p class="s20" style="padding-top: 10pt; padding-left: 20pt;text-indent: 0pt;text-align: left;">You Pay</p>
                  <p class="s21" style="padding-left: 20pt;text-indent: 0pt;text-align: left;">AED 500 <span class="s20">/month</span></p>
            
                  <p class="s22" style="padding-top: 2pt;padding-left: 19pt;text-indent: 0pt;text-align: left;">For 12 months + 5% VAT</p>
                  <mat-divider></mat-divider>
                  <p class="s24" style="padding-top: 6pt;padding-left: 20pt;text-indent: 0pt;text-align: left;">You Get</p>
                  <h4 style="padding-left: 20pt;text-indent: 0pt;text-align: left;">Power Plan 500</h4>
                  
                  <mat-divider></mat-divider>
                  <p style="text-indent: 0pt;text-align: left;"><br></p>
                  <p class="s26" style="padding-top: 7pt;padding-left: 20pt;text-indent: 0pt;text-align: left;">50 <span class="s25">100 GB </span><span class="p">Double national data</span></p>
                  <p class="s25" style="padding-top: 4pt;padding-left: 20pt;text-indent: 0pt;text-align: left;">1500 <span class="p">Flexi minutes</span></p>
                  <mat-divider></mat-divider>
                  
                  <p style="padding-top: 6pt;padding-left: 10pt;text-indent: 0pt;line-height: 210%;text-align: left;"><span class="material-icons">
                    done
                    </span>No activation fee. Save AED 125<br> <span class="material-icons">
                      done
                      </span> 15 GB free data on WiFi UAE<br>  <span class="material-icons">
                        done
                        </span> Carry over data to next month<br> <span class="material-icons">
                          done
                          </span> Amazon Prime on us <br><span class="material-icons">
                            done
                            </span> Free Internet Calling pack<br><span class="material-icons">
                              done
                              </span> Roaming 2 GB<br></p>
            
                      <p class="s27" style="padding-top: 7pt;padding-left: 56pt;text-indent: 0pt;text-align: left;">What<span class="p"> y</span>ou <span class="p">g</span>et</p>
                      <div> <button mat-raised-button class="neon-button" style="padding-top: 6pt;padding-left: 47pt;text-indent: 0pt;text-align: left;">Select</button></div>
                </mat-card>
                <mat-divider></mat-divider>
               
              
          </ng-container>
        </div>
      </mat-carousel-slide>
      <mat-carousel-slide #matCarouselSlide overlayColor="#00000020">
        <div class="myMatCarouselSlide1" fxLayout="row wrap" fxLayoutAlign="center center">
          <ng-container *ngFor="let _ of [1] ; let i = index">
            <mat-divider></mat-divider>
            <mat-card > 
              <p class="s20" style="padding-top: 10pt; padding-left: 20pt;text-indent: 0pt;text-align: left;">You Pay</p>
              <p class="s21" style="padding-left: 20pt;text-indent: 0pt;text-align: left;">AED 125 <span class="s20">/month</span></p>
        
              <p class="s22" style="padding-top: 2pt;padding-left: 19pt;text-indent: 0pt;text-align: left;">For 12 months + 5% VAT</p>
              <mat-divider></mat-divider>
              <p class="s24" style="padding-top: 6pt;padding-left: 20pt;text-indent: 0pt;text-align: left;">You Get</p>
              <h4 style="padding-left: 20pt;text-indent: 0pt;text-align: left;">Power Plan 125</h4>
              
              <mat-divider></mat-divider>
              <p style="text-indent: 0pt;text-align: left;"><br></p>
              <p class="s25" style="padding-top: 7pt;padding-left: 20pt;text-indent: 0pt;text-align: left;">4 GB <span class="p"> National data</span></p>
              <p class="s25" style="padding-top: 4pt;padding-left: 20pt;text-indent: 0pt;text-align: left;">100 <span class="p">Flexi minutes</span></p>
              <mat-divider></mat-divider>
              
              <p style="padding-top: 6pt;padding-left: 10pt;text-indent: 0pt;line-height: 210%;text-align: left;"><span class="material-icons">
                done
                </span>No activation fee. Save AED 125<br> <span class="material-icons">
                  done
                  </span> 4 GB free data on WiFi UAE<br> </p>
        
                  <p class="s27" style="padding-top: 7pt;padding-left: 56pt;text-indent: 0pt;text-align: left;">What<span class="p"> y</span>ou <span class="p">g</span>et</p>
                 <div> <button mat-raised-button class="s8" style="padding-top: 6pt;padding-left: 47pt;text-indent: 0pt;text-align: left;">Select</button></div>
            </mat-card>        
            <mat-divider></mat-divider>
            <mat-divider></mat-divider>
                <mat-card>
                  <p class="s20" style="padding-top: 10pt; padding-left: 20pt;text-indent: 0pt;text-align: left;">You Pay</p>
                  <p class="s21" style="padding-left: 20pt;text-indent: 0pt;text-align: left;">AED 200 <span class="s20">/month</span></p>
            
                  <p class="s22" style="padding-top: 2pt;padding-left: 19pt;text-indent: 0pt;text-align: left;">For 12 months + 5% VAT</p>
                  <mat-divider></mat-divider>
                  <p class="s24" style="padding-top: 6pt;padding-left: 20pt;text-indent: 0pt;text-align: left;">You Get</p>
                  <h4 style="padding-left: 20pt;text-indent: 0pt;text-align: left;">Power Plan 200</h4>
                  
                  <mat-divider></mat-divider>
                  <p style="text-indent: 0pt;text-align: left;"><br></p>
                  <p class="s26" style="padding-top: 7pt;padding-left: 20pt;text-indent: 0pt;text-align: left;">13 <span class="s25">26 GB </span><span class="p">Double national data</span></p>
                  <p class="s25" style="padding-top: 4pt;padding-left: 20pt;text-indent: 0pt;text-align: left;">400 <span class="p">Flexi minutes</span></p>
                  <mat-divider></mat-divider>
                  
                  <p style="padding-top: 6pt;padding-left: 10pt;text-indent: 0pt;line-height: 210%;text-align: left;"><span class="material-icons">
                    done
                    </span>No activation fee. Save AED 125<br> <span class="material-icons">
                      done
                      </span> 15 GB free data on WiFi UAE<br>  <span class="material-icons">
                        done
                        </span> Carry over data to next month<br> </p>
            
                      <p class="s27" style="padding-top: 7pt;padding-left: 56pt;text-indent: 0pt;text-align: left;">What<span class="p"> y</span>ou <span class="p">g</span>et</p>
                      <div> <button mat-raised-button class="s8" style="padding-top: 6pt;padding-left: 47pt;text-indent: 0pt;text-align: left;">Select</button></div>
                </mat-card>
                <mat-divider></mat-divider>
            <mat-divider></mat-divider>
            <mat-divider></mat-divider>
            <mat-card>
              <p class="s20" style="padding-top: 10pt; padding-left: 20pt;text-indent: 0pt;text-align: left;">You Pay</p>
              <p class="s21" style="padding-left: 20pt;text-indent: 0pt;text-align: left;">AED 300 <span class="s20">/month</span></p>
        
              <p class="s22" style="padding-top: 2pt;padding-left: 19pt;text-indent: 0pt;text-align: left;">For 12 months + 5% VAT</p>
              <mat-divider></mat-divider>
              <p class="s24" style="padding-top: 6pt;padding-left: 20pt;text-indent: 0pt;text-align: left;">You Get</p>
              <h4 style="padding-left: 20pt;text-indent: 0pt;text-align: left;">Power Plan 300</h4>
              
              <mat-divider></mat-divider>
              <p style="text-indent: 0pt;text-align: left;"><br></p>
              <p class="s26" style="padding-top: 7pt;padding-left: 20pt;text-indent: 0pt;text-align: left;">25 <span class="s25">50 GB </span><span class="p">Double national data</span></p>
              <p class="s25" style="padding-top: 4pt;padding-left: 20pt;text-indent: 0pt;text-align: left;">1020 <span class="p">Flexi minutes</span></p>
              <mat-divider></mat-divider>
              
              <p style="padding-top: 6pt;padding-left: 10pt;text-indent: 0pt;line-height: 210%;text-align: left;"><span class="material-icons">
                done
                </span>No activation fee. Save AED 125<br> <span class="material-icons">
                  done
                  </span> 15 GB free data on WiFi UAE<br>  <span class="material-icons">
                    done
                    </span> Carry over data to next month<br> <span class="material-icons">
                      done
                      </span> Amazon Prime on us <br><span class="material-icons">
                        done
                        </span> Free Internet Calling pack</p>
        
                  <p class="s27" style="padding-top: 7pt;padding-left: 56pt;text-indent: 0pt;text-align: left;">What<span class="p"> y</span>ou <span class="p">g</span>et</p>
                  <div> <button mat-raised-button class="s8" style="padding-top: 6pt;padding-left: 47pt;text-indent: 0pt;text-align: left;">Select</button></div>
            </mat-card>
            <mat-divider></mat-divider>
            <mat-card>
              <p class="s20" style="padding-top: 10pt; padding-left: 20pt;text-indent: 0pt;text-align: left;">You Pay</p>
              <p class="s21" style="padding-left: 20pt;text-indent: 0pt;text-align: left;">AED 500 <span class="s20">/month</span></p>
        
              <p class="s22" style="padding-top: 2pt;padding-left: 19pt;text-indent: 0pt;text-align: left;">For 12 months + 5% VAT</p>
              <mat-divider></mat-divider>
              <p class="s24" style="padding-top: 6pt;padding-left: 20pt;text-indent: 0pt;text-align: left;">You Get</p>
              <h4 style="padding-left: 20pt;text-indent: 0pt;text-align: left;">Power Plan 500</h4>
              
              <mat-divider></mat-divider>
              <p style="text-indent: 0pt;text-align: left;"><br></p>
              <p class="s26" style="padding-top: 7pt;padding-left: 20pt;text-indent: 0pt;text-align: left;">50 <span class="s25">100 GB </span><span class="p">Double national data</span></p>
              <p class="s25" style="padding-top: 4pt;padding-left: 20pt;text-indent: 0pt;text-align: left;">1500 <span class="p">Flexi minutes</span></p>
              <mat-divider></mat-divider>
              
              <p style="padding-top: 6pt;padding-left: 10pt;text-indent: 0pt;line-height: 210%;text-align: left;"><span class="material-icons">
                done
                </span>No activation fee. Save AED 125<br> <span class="material-icons">
                  done
                  </span> 15 GB free data on WiFi UAE<br>  <span class="material-icons">
                    done
                    </span> Carry over data to next month<br> <span class="material-icons">
                      done
                      </span> Amazon Prime on us <br><span class="material-icons">
                        done
                        </span> Free Internet Calling pack<br><span class="material-icons">
                          done
                          </span> Roaming 2 GB<br></p>
        
                  <p class="s27" style="padding-top: 7pt;padding-left: 56pt;text-indent: 0pt;text-align: left;">What<span class="p"> y</span>ou <span class="p">g</span>et</p>
                  <div> <button mat-raised-button class="s8" style="padding-top: 6pt;padding-left: 47pt;text-indent: 0pt;text-align: left;">Select</button></div>
            </mat-card>
            <mat-divider></mat-divider>
            <mat-divider></mat-divider>
          <mat-card>
            <p class="s20" style="padding-top: 10pt; padding-left: 20pt;text-indent: 0pt;text-align: left;">You Pay</p>
            <p class="s21" style="padding-left: 20pt;text-indent: 0pt;text-align: left;">AED 1000 <span class="s20">/month</span></p>
      
            <p class="s22" style="padding-top: 2pt;padding-left: 19pt;text-indent: 0pt;text-align: left;">For 12 months + 5% VAT</p>
            <mat-divider></mat-divider>
            <p class="s24" style="padding-top: 6pt;padding-left: 20pt;text-indent: 0pt;text-align: left;">You Get</p>
            <h4 style="padding-left: 20pt;text-indent: 0pt;text-align: left;">Power Plan 1000</h4>
            
            <mat-divider></mat-divider>
            <p style="text-indent: 0pt;text-align: left;"><br></p>
            <p class="s26" style="padding-top: 7pt;padding-left: 10pt;text-indent: 0pt;text-align: left;">120 <span class="s25">Unlimited GB </span><span class="p"> data</span></p>
            <p class="s26" style="padding-top: 4pt;padding-left: 10pt;text-indent: 0pt;text-align: left;">2500 <span class="s25">Unlimited </span><span class="p">Flexi minutes</span></p>
            <mat-divider></mat-divider>
            
            <p style="padding-top: 6pt;padding-left: 10pt;text-indent: 0pt;line-height: 210%;text-align: left;"><span class="material-icons">
              done
              </span>No activation fee. Save AED 125<br> <span class="material-icons">
                done
                </span> 15 GB free data on WiFi UAE<br>  <span class="material-icons">
                  done
                  </span> Carry over data to next month<br> <span class="material-icons">
                    done
                    </span> Amazon Prime on us <br><span class="material-icons">
                      done
                      </span> Free Internet Calling pack<br><span class="material-icons">
                        done
                        </span> Roaming 2 GB<br></p>
                        
                <p class="s27" style="padding-top: 7pt;padding-left: 56pt;text-indent: 0pt;text-align: left;">What<span class="p"> y</span>ou <span class="p">g</span>et</p>
               
                <div> <button mat-raised-button class="s8" style="padding-top: 6pt;padding-left: 47pt;text-indent: 0pt;text-align: left;">Select</button></div>
              </mat-card>
              <mat-divider></mat-divider>
          </ng-container>
        </div>
      </mat-carousel-slide>
    </mat-carousel>
  </div>
</div>
